html {
  --primary-color: hsl(0, 0%, 13%); /* Adjusted RGB values */
  --secondary-color: hsl(52, 26%, 72%); /* Adjusted RGB values */
  --secondary-highlight-color: hsl(109, 55%, 31%); /* Adjusted RGB values */
  --tertiary-color: hsl(31, 100%, 53%); /* Adjusted RGB values */
  --tertiary-highlight-color: hsl(220, 78%, 65%);

  margin: 0;
  font-family: "Space Grotesk", "Playfair Display", "Cormorant Garamond",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;

  background-color: var(--primary-color);
  color: var(--secondary-color);
  min-width: 320px;
}

.custom-svg-rules {
  background-color: var(--tertiary-highlight-color);
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.custom-svg-rules:hover {
  transition: all 100ms ease-in;
  box-shadow: 0px 4px 0 var(--primary-color);
  transform: translate(0px, -4px);
}

.test-borderr {
  border: 2px solid red;
}
.test-borderb {
  border: 2px solid blue;
}
.test-borderg {
  border: 2px solid green;
}