html {
  --primary-color: #222222; /* Adjusted RGB values */
  --secondary-color: #bdc4a7; /* Adjusted RGB values */
  --secondary-highlight-color: #317a23; /* Adjusted RGB values */
  --tertiary-color: #f17f29; /* Adjusted RGB values */
  --tertiary-highlight-color: #5c95ff;

  margin: 0;
  font-family: "Space Grotesk", "Playfair Display", "Cormorant Garamond",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;

  background-color: var(--primary-color);
  color: var(--secondary-color);
  min-width: 320px;
}

.custom-svg-rules {
  background-color: var(--tertiary-highlight-color);
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.custom-svg-rules:hover {
  transition: all 100ms ease-in;
  box-shadow: 0px 4px 0 var(--primary-color);
  transform: translate(0px, -4px);
}